@import 'common/colors';
@import 'common/common';
@import 'common/typography';


.article {
  display: grid;
  grid-template-columns: auto 1fr 70px;
  grid-row-gap: 5px;
  min-height: 70px;
  border-top: 1px solid #BCCCE0;
}

.article.featured {
  grid-template-columns: 54px auto 70px;
  margin-bottom: 5px;
  border: none;
}

.article > .thumbnail {
  grid-column: 1;
  grid-row: auto;
  height: 70px;
}

.article > .body {
  display: grid;
  grid-column: 2;
  grid-row: auto;
  grid-template-columns: 20px auto 20px auto 20px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  grid-auto-flow: column;
  align-items: center;
  padding: 0px 10px;
  justify-content: start;
  background: white;
}

.article > .body > .title {
  grid-column: 1 / span 6;
  font-size: var(--fontL);
  color: black;
}

.article > .body > .d-text {
  padding-right: 15px;
  font-size: var(--fontMP);
  color: #999;
}

 .article > .button {
  grid-column: 3;
  grid-row: auto;
  height: 70px;
  background: var(--colorGreen);
}

.article > .button:hover {
  background: var(--colorGreenH);
}

.article > .button > img {
  margin-top: auto;
}

.article >.ratio {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 23px auto;
  margin-right: 5px;
}

.article > .ratio:hover {
  grid-column-gap: 5px;
}

.article > .ratio > .up {
  grid-column: 1;
  grid-row: 1;
  background: #0f801f;
}

.article > .ratio > .down {
  grid-column: 1;
  grid-row: 2;
  background: #ff2929;
}

.article > .ratio > .extended {
  display: none;
  grid-column: 2;
  grid-row: 1 /span 2;
  grid-template-rows: 50% 50%;
  width: auto;
  background: white;
  color: white;
}

.article > .ratio > .extended > .up {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 20px 50px;
  grid-column-gap: 5px;
  align-content: center;
  padding: 0 7px 0 2px;
  background: #0f801f;
}

.article > .ratio > .extended > .up:hover {
  opacity: 0.7;
}

.article > .ratio > .extended > .down {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 20px auto;
  grid-column-gap: 5px;
  align-content: center;
  padding: 0 7px 0 2px;
  background: #ff2929;
}

.article >  .ratio > .extended > .down:hover {
  opacity: 0.7;
}

.article > .ratio > .extended  > .active {
  background: darkslategray;
}

.extended .icon-60 {
  display: none;
}

.extended .icon-60 {
  display: none;
}

.article > .ratio:hover > .extended {
  display: grid;
}

.article > .summary {
  display: none;
  grid-column: 1 / span 3;
  background: white;
}

.article > .expanded {
  display: block;
}


@media screen and (max-width: 524px) {
  .logo {
    display: none;
  }

  .article {
    margin-bottom: 5px;
    grid-row-gap: 2px;
    grid-template-columns: 1fr 30px;
  }

  .article > .ratio {
    grid-row: 2;
    grid-template-columns: 1fr;
  }

  .article > .ratio > .down,  .article > .ratio > .up {
    display: none;
  }

  .article > .ratio > .extended {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    grid-column-gap: 2px;
  }

  .article > .ratio > .extended > .up {
    grid-column: 1;
    grid-row: 1;
  }

  .article > .ratio > .extended > .down {
    grid-column: 2;
    grid-row: 1;
  }

  .article > .body {
    grid-column: 1 / span 2;
  }

  .article > .button {
    grid-column: 2;
    grid-row: 2;
    height: 30px;
  }

  .article > .button img {
    width: 30px;
    height: 30px;
  }
}