@import 'common/colors';
@import 'common/common';
@import 'common/typography';



ul {
  padding: 0;
  margin: 0;
}

.vote {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: minmax(300px, 720px);
  grid-row-gap: 20px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  font-weight: normal;
  font-smoothing: antialiased;
}

.content {
  display: grid;
  grid-gap: 4px;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.slider {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-rows: auto auto auto;
}

.slider-content {
  display: grid;
  grid-column: 1;
  grid-row: auto; 
  grid-template-rows: auto auto auto;
}

.slider-image {
  grid-column: 1;
  grid-row: 1;
  height: 180px;
}

.slider-text {
  grid-column: 1;
  grid-row: 2;
  max-height: 220px;
  padding: 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  background: white;
  text-align: justify;
}

.slider-selector {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-rows: auto;
  padding: 4px;
  justify-items: center;
  background: var(--colorGreen);
}

.slider-thumbnail {
  grid-column: auto;
  grid-row: 1;
  width: 130px;
  padding: 2px;
}

.featured-updates {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 54px auto 70px;
  grid-row-gap: 5px;
}

.featured-thumbnail {
  grid-column: 1;
  grid-row: auto;
  height: 70px;
}

.featured-text {
  grid-column: 2;
  grid-row: auto;
  height: 70px;
  padding: 0px 10px;
  background: white;
  
}

.featured-button {
  grid-column: 3;
  grid-row: auto;
  height: 70px;
  background: var(--colorGreen);
}

.featured-button:hover {
  background: var(--colorGreenH);
}

.featured-button > img {
  margin-top: auto;
}

.article-list {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  grid-row-gap: 0px;
  overflow: hidden;
}

.article {
  display: grid;
}

.article-main {
  display: grid;
  grid-column: 1;
  grid-row: auto;
  grid-template-columns: auto 1fr 70px;
  min-height: 70px;
  border-bottom: 1px solid #BCCCE0;
}

.article-ratio {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 23px auto;
  margin-right: 5px;
}

.article-ratio:hover {
  grid-column-gap: 5px;
}

.ratio-up {
  grid-column: 1;
  grid-row: 1;
  height: 20px;
  background: #0f801f;
}

.ratio-down {
  grid-column: 1;
  grid-row: 2;
  height: 50px;
  background: #ff2929;
}

.ratio-extended {
  display: none;
  grid-column: 2;
  grid-row: 1 /span 2;
  grid-template-rows: 50% 50%;
  width: auto;
  background: white;
  color: white;
}

.extended-up {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 20px auto;
  grid-column-gap: 5px;
  align-content: center;
  padding: 0 7px 0 2px;
  background: #0f801f;
}

.extended-up:hover {
  opacity: 0.7;
}

.extended-down {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-columns: 20px auto;
  grid-column-gap: 5px;
  align-content: center;
  padding: 0 7px 0 2px;
  background: #ff2929;
}

.extended-down:hover {
  opacity: 0.7;
}

.extended-icon-60 {
  display: none;
}

.article-ratio:hover > .ratio-extended {
  display: grid;
}

.article-body {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-column-gap: 5px;
  padding: 3px 5px;
  justify-content: start;
  background: white;
  font-size: var(--fontL);
}

.article-body:hover {
  background: #D7DADE;
}

.article-title {
  grid-column: 1;
  grid-row: 1;
  align-self: initial;
}

.article-title:after {
  content: ' -';
}

.featured-text > .article-title {
  font-size: var(--fontL);
}

.featured-text > .article-title:after {
  content: '';
}

.featured-text > .article-title {
  padding-top: 3px;
  height: 50%;
  font-size: var(--fontL);
}

.article-chapter {
  grid-column: 2;
  grid-row: 1;
}

.article-details {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 2;
  grid-template-columns: 20px auto 20px auto 20px auto;
  grid-column-gap: 5px;
  justify-content: start;
  align-items: center;
  font-size: var(--fontMP);
  color: #999;
}

.article-details > div {
  padding-right: 15px;
}

.article-author {
  grid-column: 2;
  grid-row: 1;
}

.article-date {
  grid-column: 4;
  grid-row: 1;
}

.article-comments {
  grid-column: 6;
  grid-row: 1;
}

.article-icon {
  grid-column: auto;
  grid-row: 1;
}

.fiction {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 5px;
}

.fiction > .more {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  margin-bottom: 15px;
  color: white;
  font-size: var(--fontL);
}

.fiction > .more > .container {
  display: grid;
  grid-template-columns: 70px 1fr;
  background: var(--colorGreen);
  align-items: center;
}

.fiction > .more > .container:hover {
  background: var(--colorGreenH);
}

.fiction > .more > .container > .title {
  padding-left: 10px;
}

.fiction-author {
  display: grid;
  grid-template-columns: 70px 1fr;
  background: var(--colorGreen);
  align-items: center;
}




@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  
  .featured-updates {
    display: none;
  }

  .slider {
    display: none;
  }
  
  .article {
    margin-bottom: 15px;
  }
  
  .article-main {
    grid-template-columns: 1fr 70px;
    grid-template-rows: 70px auto auto;
    min-height: 70px;
    border-bottom: 1px solid #BCCCE0;
    grid-column-gap: 5px;
  }
  
  .article-body {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .article-title {
    grid-column: 1 / span 2;
    font-size: var(--fontM);
  }
  
  .article-title:after {
    content: '';
  }
  
  .article-chapter {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-size: var(--fontS);
  }
  
  .article-details {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: var(--fontS);
  }
  
  .article-ratio {
    grid-column: 1;
    grid-row: 2;
    margin-right: 0;
  }
  
  .extended-icon {
    display: none;
  }
  
  .extended-icon-60 {
    display: block;
  }
  
  .ratio-up {
    display: none;
  }
  
  .ratio-down {
    display: none;
  }
  
  .ratio-extended {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    background: transparent;
    font-size: var(--fontL);
    color: white;
  }
  
  .extended-up {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 60px auto;
    grid-column-gap: 5px;
    align-content: center;
    align-items: center;
    background: #0f801f;
  }

  .extended-up:hover {
    opacity: 0.7;
  }
  
  .extended-down {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 60px auto;
    grid-column-gap: 5px;
    padding: 0;
    align-content: center;
    align-items: center;
  }
  
  .extended-down:hover {
    opacity: 0.7;
  }
  
  .featured-button {
    grid-column: 2;
    grid-row: 2;
    height: 70px;
    background: var(--colorGreen);
  }

  .fiction {
    display: grid;
    grid-template-columns: 1fr 155px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 5px;
  }

  .fiction > .more {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
  }
}

@media screen and (min-width: 525px) and (max-width: 750px) {
  .article-title {
    font-size: var(--fontL);
  }

  .article-chapter {
    font-size: var(--fontM);
  }

  .fiction {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 5px;
  }
}