@import 'common/colors';
@import 'common/common';
@import 'common/typography';


ul {
  padding: 0;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: minmax(300px, 720px);
  grid-row-gap: 7px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  font-weight: normal;
  font-smoothing: antialiased;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.featured-updates {
  display: grid;
  grid-column: 1;
  grid-row: 2;
}

.slider2 {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-rows: auto auto auto;
}

.slider {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 120px 60px 200px;
}

.slider > .selector {
  display: grid;
  grid-row: 1;
  grid-template-columns: auto auto auto auto auto auto auto 1fr;
  justify-items: start;
  background: var(--colorGreen);
  padding: 5px 5px 0 5px;
}

.slider > .selector > .container  {
  grid-row: 1;
  height: 120px;
  margin: 0 4px;
}

.slider > .selector > .container > .thumbnail {
  height: 120px;
}

.slider > .thumbnail.selected {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 0;
  height: 180px;
}

.slider > .selector > .empty {
  grid-row: 1;
  
}

.slider > .selector > .placeholder {
  grid-row: 1;
}

.slider > .details {
  display: grid;
  grid-column: 2 / span 8;
  grid-row: 2;
  grid-template-columns: auto 1fr 50px;
  padding: 0 0 0 0;
  border-top: 10px solid var(--colorGreen);
  border-bottom: 10px solid var(--colorGreen);
  align-items: center;
  background: var(--colorGreenH);
}

.slider > .details > .title {
  grid-column: 1;
  padding: 0 5px;
  font-size: var(--fontM);
  color: white;
}

.slider > .details > .categories {
  grid-column: 2;
  align-items: center;
  font-size: var(--fontSP);
  text-align: left;
  color: white;
}

.slider > .details > .button {
  display: grid;
  grid-column: 3;
  justify-items: center;
  align-items: center;
}

.slider > .details > .button:hover {
  background: rgb(255, 255, 255, 0.25);
}

.slider > .details > .button > .b-icon {
  width: 40px;
  height: 40px;
}

.slider > .summary {
  grid-column: 1 / span 2;
  grid-row: 3;
  height: 200px;
  overflow: hidden;
  background: white;

}

.slider-content {
  display: grid;
  grid-column: 1;
  grid-row: auto; 
  grid-template-rows: auto auto auto;
}

.slider-image {
  grid-column: 1;
  grid-row: 1;
  height: 180px;
}

.slider-text {
  grid-column: 1;
  grid-row: 2;
  max-height: 220px;
  padding: 10px;
  margin: 0 0 10px 0;
  overflow: hidden;
  background: white;
  text-align: justify;
}

.slider-selector {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-rows: auto;
  padding: 4px;
  justify-items: center;
  background: var(--colorGreen);
}

.slider-thumbnail {
  grid-column: auto;
  grid-row: 1;
  width: 130px;
  padding: 2px;
}

.article-list {
  display: grid;
  grid-column: 1;
  grid-row: 5;
  grid-row-gap: 0px;
  overflow: hidden;
}

@media screen and (max-width: 524px) {
  .logo {
    display: none;
  }
  
  .featured-updates {
    display: none;
  }

  .slider {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    grid-template-columns: 1fr;
    grid-template-rows: 125px auto 200px;
  }

  .slider > .selected{
    display: none;
  }

  .slider > .selector {
    grid-column: 1;
  }

  .slider > .details {
    grid-column: 1;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    padding-top: 3px;
    border: none;
    align-items: unset;
    background: var(--colorGreen);
  }

  .slider > .details > .title {
    text-align: center;
    align-self: center;
    background: rgb(255, 255, 255, 0.25);
    padding: 9px 3px;
    font-size: var(--fontSP);
  }

  .slider > .details > .categories {
    align-items: center;
    background: rgb(255, 255, 255, 0.25);
    font-size: var(--fontS);
    text-align: center;
    padding: 3px 3px;
    margin: 7px 0;
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .slider > .details > .button {
    display: grid;
    grid-column: 2;
    justify-items: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.25);
    margin: 0 0;
    height: 37px;
  }

  .slider > .details > .button > .b-icon {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }

  .slider > .details > .title {
    font-size: var(--fontSP);
  }

  .slider > .details > .categories {
    font-size: var(--fontS);
  }
}
