@import 'common/colors';
@import 'common/common';
@import 'common/layout';
@import 'common/typography';

.text {
  min-height: 400px;
  background: white;
  padding: 16px;
  color: black;
}

.text.note {
  min-height: 200px;
}

.text.comment-editor {
  min-height: 200px;
}

.text p:first-child {
  margin-top: 0;
}

.text p:last-child {
  margin-bottom: 0;
  padding: 0;
}

.text a {
  color: blue;
}

.text a:hover {
  text-decoration: underline;
}

.text blockquote {
  padding-left: 7px;
  font-size: var(--fontM);
  border-left: 5px solid rgb(222, 227, 235);
}

.text ul {
  list-style: square;
  padding-left: 20px;
}


table {
  background: rgba(199, 186, 122, 0.664);
  width: 100%;
  padding: 0 3px;
  margin-bottom: 5px;
}

table th {
  background: rgba(0, 0, 0, 0.1);
}

table td {
  padding: 5px 0;
}

.text img {
  max-width: 700px;
}

pre {
  background: rgba(196, 220, 229, 0.377);
  padding: 5px;
}

code {
  background: rgba(196, 220, 229, 0.377);
  padding: 0 3px;
}

pre > code {
  background: none;
  padding: 0;
}


@media screen and (min-width: 525px) and (max-width: 750px) {
  .buttons {
    grid-template-columns: auto auto;
    grid-row-gap: 3px;
    grid-auto-flow: unset;
  }

  .text img {
    max-width: 505px;
  }

  textarea {
    width: 525px;
    min-width: 525px;
  }
}


@media screen and (max-width: 524px) {
  .buttons {
    grid-template-columns: auto auto;
    grid-row-gap: 3px;
    grid-auto-flow: unset;
  }

  .text img {
    max-width: 360px;
  }

  textarea {
    width: 360px;
    min-width: 360px;
  }
}